[submodule "gvar"]
	path = gvar
	url = git@github.com:hvaldecantos/gvar.git
[submodule "projects/sed"]
	path = projects/sed
	url = git://git.savannah.gnu.org/sed.git
[submodule "projects/cpio"]
	path = projects/cpio
	url = git://git.savannah.gnu.org/cpio.git
[submodule "projects/gtk+"]
	path = projects/gtk+
	url = git://git.gnome.org/gtk+
[submodule "projects/wget"]
	path = projects/wget
	url = git://git.savannah.gnu.org/wget.git
[submodule "projects/gzip"]
	path = projects/gzip
	url = git://git.savannah.gnu.org/gzip.git
[submodule "projects/make"]
	path = projects/make
	url = git://git.savannah.gnu.org/make.git
[submodule "projects/bash"]
	path = projects/bash
	url = git://git.savannah.gnu.org/bash.git
[submodule "projects/grep"]
	path = projects/grep
	url = git://git.savannah.gnu.org/grep.git
[submodule "projects/gedit"]
	path = projects/gedit
	url = git://git.gnome.org/gedit
[submodule "projects/dia"]
	path = projects/dia
	url = git://git.gnome.org/dia
[submodule "projects/screen"]
	path = projects/screen
	url = git://git.savannah.gnu.org/screen.git
[submodule "projects/gnome-calendar"]
	path = projects/gnome-calendar
	url = git://git.gnome.org/gnome-calendar
