[submodule "gvar"]
	path = gvar
	url = git@github.com:hvaldecantos/gvar.git
[submodule "projects/sed"]
	path = projects/sed
	url = git://git.savannah.gnu.org/sed.git
[submodule "projects/cpio"]
	path = projects/cpio
	url = git://git.savannah.gnu.org/cpio.git
[submodule "projects/gtk+"]
	path = projects/gtk+
	url = git://git.gnome.org/gtk+
[submodule "projects/wget"]
	path = projects/wget
	url = git://git.savannah.gnu.org/wget.git
[submodule "projects/gzip"]
	path = projects/gzip
	url = git://git.savannah.gnu.org/gzip.git
[submodule "projects/make"]
	path = projects/make
	url = git://git.savannah.gnu.org/make.git
